Repository wakie92/monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache, stylelint

feat: 수동으로 패키지 불러오기까지 성공
  apps/web/package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/core/turbo.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat: tsconfig 설정 적용
  apps/bolierplateReactNative/tsconfig.json
  apps/web/tsconfig.json
  packages/typescript-config/base.json
  packages/typescript-config/react-native-library.json
  packages/typescript-config/reactNative.json
Due: prettier --write

feat: 오류 수정
  apps/bolierplateReactNative/tsconfig.json
  apps/web/tsconfig.json
  packages/core/tsconfig.json
  packages/typescript-config/nextjs.json
Due: prettier --write

fix: husky사용을 위한 설정 변경
  .gitignore
  .lintstagedrc.json
  apps/web/.eslintrc.js
  apps/web/tsconfig.json
  lint-staged.config.js
  package.json
  packages/core/.eslintrc.js
  packages/core/tsconfig.json
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  packages/eslint-config/reactNative.js
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/reactNative.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix --cache

feat: config 수정 및 packages core 적용
  apps/web/package.json
  apps/web/src/contexts/UiUxContext.tsx
  apps/web/src/utils/browserClient.ts
  package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/eslint-config/base.js
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat: add ESLint and Prettier configuration
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  apps/mobile/eslint.config.mjs
  apps/mobile/package.json
  apps/web/eslint.config.mjs
  apps/web/package.json
  package.json
  packages/eslint-config/base.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react-native.js
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  prettier.config.js
  turbo.json
Due: prettier --write, eslint --fix --cache

Feat: add husky, lint-staged, and commitlint
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package.json
Due: prettier --write, eslint --fix --cache

feat: Enhance project structure and configuration
  .claude/settings.json
  .cursor/rules/commit-convention.mdc
  .gitignore
  .omc/project-memory.json
  CLAUDE.md
  apps/mobile/lib/supabase.ts
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  apps/web/eslint.config.mjs
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/src/lib/supabase.server.ts
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  apps/web/tsconfig.tsbuildinfo
  eslint.config.packages.mjs
  package.json
  packages/db/package.json
  packages/db/tsconfig.json
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  packages/store/package.json
  packages/store/tsconfig.json
  packages/tsconfig/base.json
  packages/tsconfig/library.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  repo.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix --cache

chore: Add configuration files and documentation for project structure
  .claude/agents/code-cleaner.md
  .claude/agents/commit.md
  .claude/architecture.md
  .claude/scheduled_tasks.lock
  .claude/styling.md
  .cursor/rules/commit-convention.mdc
  .cursor/rules/repo-context.mdc
  .cursorignore
  .gitignore
  .omc/project-memory.json
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  commitlint.config.js
Due: prettier --write, eslint --fix --cache

docs: Update README.md for improved clarity and structure
  README.md
Due: prettier --write

docs: Expand README.md with app architecture and UI guidelines
  README.md
Due: prettier --write

docs: Update CLAUDE.md with persona and communication guidelines; remove scheduled_tasks.lock
  .claude/agents/senior-dev.md
  .claude/scheduled_tasks.lock
  .omc/project-memory.json
  CLAUDE.md
Due: prettier --write

chore: Update .gitignore and remove obsolete worktree
  .gitignore
Due: none

docs: Expand architecture documentation with SSR and TanStack Query details
  .claude/architecture.md
  .claude/streaming-sections.md
  .omc/project-memory.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,css,json,md,ts,tsx}
  eslint --fix --cache: any of: *.{js,ts,tsx}
  stylelint: (((any of: apps/web/src/**/styled.{ts,js}) or (any of: apps/web/src/styles/styledComponents/**/*.ts)) or (any of: apps/boilerplateReactNative/src/**/styled.{ts,js})) or (any of: apps/boilerplateReactNative/src/styles/styledComponents/**/*.ts)
